/*initial Styles Start*/

html {
  font-size: 16px;
  font-family: futura-pt, sans-serif;
}

body {
  	background-color: #e0e0e0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	

}

main {
	background-color: #F2F2F2;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 90px;
	
	top: 90px;	
	width: 70%;
    margin: 0 auto;
	
	border-left: solid 3px #38352e;
	border-right: solid 3px #38352e;
}

h1 {
	color: white;
	font-size: 30px;
	font-family: Futura;
}

h2 {
	font-size: 18px;
	font-weight: 700;
	line-height: 2.5;
	font-family: Futura;
}

a {
	text-decoration: none;
}

p {
	margin: 16px 0;
	font-family: "helvetica";
	padding: 0;
	colour: #58595b;
}

img {
	max-height: 200px;
}

/* Initial Styles End */

/* Header Start */

header {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.25;
	background-color: #352f33;
	position: fixed;
	height:90px;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 500;

	margin: auto;
	
	display: flex;
    justify-content: flex-start;
	align-items: center;
	

	max-height: 200px;
}

.header {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.25;
	background-color: #828050;
	position: fixed;
	height: 80px;
	width: 100%;
	top: 5px;
	left: 0;
	text-align: center;

	margin: auto;
	
	display: flex;
    justify-content: flex-start;
	align-items: center;
	

	max-height: 200px;
	
}


.header a {
	color: #E0E0E0;
	height: 70px;
	width: auto;
	padding: 0;
	margin: 5px 5px;
	display: flex;
    justify-content: space-between;
	align-items: center;
	align-self: flex-end;
	
}



.header div {
	height: 100%;
	width: 100%;
	padding: 0 20px;
	margin: 0;
	display: flex;
    justify-content: center;
	align-items: center;
}

.header #home {
	align-self: flex-start;
}

.header #main{
	padding: 0 10px;
	margin: 0;
	margin-left: 50px;
	height: 65px;
	
	display: flex;
    justify-content: space-around;
	align-items: center;
	
	border: solid 2px;
	border: 5px solid #6F6E44;
	
	border-top: 5px solid #352f33;
	border-bottom: 10px solid #352f33;
}

.header img {
	max-height: 100%; 
	height: 60px;
	object-fit: contain;

}

.header h1 {
	color: #E0E0E0;
	font-size: 30px;
	font-family: Futura;

}

.header a:hover h1 {
	
	color: #EBEBEB;

	border-bottom-width: 1px;
	border-bottom-color: #4C4B2E;
	border-bottom-style: solid;
	

}

.header h2 {
	color: #E0E0E0;
	font-size: 18px;
	font-weight: 700;
	line-height: 2.5;
	font-family: Futura;
}

.header a:hover h2 {
	
	color: #EBEBEB;

	border-bottom-width: 1px;
	border-bottom-color: #4C4B2E;
	border-bottom-style: solid;
	

}

/* Header End */

/* main Start */

main p {
	font-size: 16px;
	width: 65ch;
}

/* Image Blur Start */

.blur {
	display:block;
	height: 500px;
	box-sizing: border-box;
	padding: 0;
	margin: -5px -50px;
	background-color: #38352e;
	
	border: solid 5px #38352e;
	
}

.blur-image{
  	height: 100%;
	background-image: url("images/gray-trunk-green-leaf-tree-beside-body-of-water-762679.jpg");
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);

  /* Full height */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur-text h2{
	font-size: 34px;
	font-family: "helvetica";
	color: #E0E0E0;
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	font-weight: bold;
	border: 3px solid #B0B0B0;
  	position: absolute;
	bottom: 38.2%;
  	left: 50%;
  	transform: translate(-50%, 100%);
  	z-index: 2;
  	width: 38.2%;
  	padding: 20px;
  	text-align: center;
}

/* Image Blur End */

/* why Start */

.why {
	text-align: center;
		padding: 40px 0;

}

.why p {
	text-align: center;
	margin: 0 auto;


}

/* why end */

/* Name Reason Start */


/*

 	WHAT IM TRYING TO DO IS HAVE THE IMAGE NO TAKE UP THE FULL WIDTH OF MAIN BUT BE QUITE 
	
	UNDERNEATH WILL BE TEXT IN A CAPTION STYLE WITH THE HEADER ON THE LEFT AND TEXT ON THE RIGHT: 
	BOTH OF THE HEADING AND TEXT ARE INLINE BUT OFCOURSE DIFFERENT WIDTHS DUE TO HAVING MULTIPLE LINES OF 'P'
	

*/
.name-reason {
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100% + 100PX;;
	margin: 0 -50px;
	display:block;
	box-sizing: border-box;
	padding: 0;
	background-color: #38352e;
	
}

.name-reason img {
	
}

.caption {
    display: block;
}

/* Name Reason End */




/* 1st Content Start*/

.fig-trunk img{
	max-height: 100% !important;
	width: 50%;
	padding-top: 35px;
}


	/*1st Content End


/* main End */

/* Background image */

.back-image {
	
	
}

.back-image img {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	
	filter: blur(2px);
	-webkit-filter: blur(2px);
	
}

.back-image h5 {
	
	
}
/* Footer Start */

footer {
	box-sizing: border-box;
	position: static;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	color: #fff;
	background-color: #828050;
	padding: 0.01em 16px;
	font-family: Verdana,sans-serif;
	font-size: 15px;
	line-height: 1.5;
}





/* Footer End */

