html {
  font-size: 16px;
  font-family: futura-pt, sans-serif;
}

body {
  	background-color: #F2F2F2;
	padding-left: 10%;
	padding-right: 10%;
}

h1 {
  color: white;
  font-size: 28px;
  font-family: Georgia;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5;
  font-family: Georgia;
}

a {
  text-decoration: none;
}

p {
  margin: 16px 0;
  font-family: Helvetica; 
}

img {
	height: 100px;
}

/* Header */

.header {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  
  line-height: 1.25;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.header li {
  display: inline-block;
}

.header a {
  display: block;
  color: #4A4A4A;
  padding: 30px 20px;
}

#tree-table {
	padding-right: 0;
	width: 10%;
}
#tree-icon {
	height: 48px;
	width: 48px;
	margin-right: 10px;
	border-right-width: 0px; 
}

th:hover {
	
	}
#table-head-empty {
	width: auto;
}
#table-head-empty:hover {
	background-color: #FFFFFF;
	border-style: hidden;
}

.navbar:hover {
	background-color: #B6EC96;
	border-color: #384536;
	border-style: outset;
	border-width: 1px;
}
