html {
  font-size: 16px;
  font-family: futura-pt, sans-serif;
}

#container {
    
}

body {
  	background-color: #F9F9F9;
	padding-left: 10%;
	padding-right: 10%;
}

main {
	background-color: #F1F1F1;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 200px;
	
	width: 80%;
    margin: 0 auto;
}

h1 {
  color: white;
  font-size: 28px;
  font-family: Georgia;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5;
  font-family: Futura;
}

a {
  text-decoration: none;
}

p {
  margin: 16px 0;
  font-family: Helvetica; 
}

img {
	height: 100px;
}

/* Header Start */

.header {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.25;
	background-color: #828050;
	position: fixed;
	height:15%;
	width: 80%;
	top: 0;
	text-align: center;

	margin: auto;
	
	display: flex;
    justify-content: space-evenly;
	align-items: center;
	
}

.header nav {
	background-color: #828050;
	position: fixed;
	top: 0;
	height:15%;
	width: 70%;
	padding-left: -10%;
	padding-right:10%;
	max-height: 200px;
}

/*

.header ul {
	display: flex;
    justify-content: space-evenly;
	align-items: center;

	height: 100%;
	width: 100%;

}

.header li {
    list-style-type: none;
	display: flex;
    justify-content: space-evenly;
	align-items: center;
}

*/

.header a {
	color: #E0E0E0;
    padding: 2px 5px 6px 5px;
    margin: auto;

	
}

.header span {
	
}


.header #main{
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.header img {
	max-height: 70px;
	height: inherit;
	    object-fit: contain;

}

.header h2 {
}

/* Header End */




.navbar:hover {
	background-color: #B6EC96;
	border-color: #384536;
	border-style: outset;
	border-width: 1px;
}

